<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body class="page">
    <%- include('block/face') %>
    <%- include('block/danger') %>
    <%- include('block/warning') %>
    <%- include('block/news') %>
    <%- include('block/product') %>
    <%- include('block/effect') %>
    <%- include('block/why') %>
    <%- include('block/professional') %>
    <%- include('block/commits') %>
    <%- include('block/face') %>
    <%- include('block/footer') %>
    <%- include('block/script') %>
</body>

</html>